n8n/templates/n8n_add_to_calendar-v3-calendarId-addtoSheet.json
{
  "name": "Add-google-calendar-V3",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "add-calendar-boot-v3",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {}
      },
      "id": "03c10a70-d4ae-4f8f-a3e6-616fda680d12",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -520,
        -180
      ],
      "webhookId": "0c502460-e00c-462b-97a0-a4a8fb23bd59"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "={{ $json[\"body\"][\"calendario\"] }}",
          "mode": "id"
        },
        "start": "={{ $json[\"body\"][\"startDate\"] }}",
        "end": "={{ (() => {\n    const gap = 45\n    const startDate = new Date($json[\"body\"][\"startDate\"]);\n    const endDate = new Date($json[\"body\"][\"endDate\"]);\n\n    const formatNumber = (num) => (num < 10 ? '0' : '') + num;\n\n    const formattedDate = endDate.getFullYear() + '/' +\n        formatNumber(endDate.getMonth() + 1) + '/' +\n        formatNumber(endDate.getDate()) + ' ' +\n        formatNumber(endDate.getHours()) + ':' +\n        formatNumber(endDate.getMinutes()) + ':' +\n        formatNumber(endDate.getSeconds());\n\n    return formattedDate;\n})() }}",
        "additionalFields": {
          "attendees": [
            "={{ $json[\"body\"][\"email\"] }}"
          ],
          "description": "={{ $json[\"body\"][\"name\"] }} ha solicitado los siguentes servicios {{ $json[\"body\"][\"servicio\"] }} para el dia agendado",
          "summary": "=Nueva Reunion con {{ $json[\"body\"][\"name\"] }}"
        }
      },
      "id": "6f3fbd31-e9f6-4702-8d7a-6a90b8cc5189",
      "name": "Google Calendar",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.1,
      "position": [
        -260,
        -160
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "yiF1M13T10qzvUgi",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "16hpBbpFffx7JhLPext35vDEvHkM4MbxfWs_UlAm5JoQ",
          "mode": "list",
          "cachedResultName": "database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16hpBbpFffx7JhLPext35vDEvHkM4MbxfWs_UlAm5JoQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Citas_Clientes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16hpBbpFffx7JhLPext35vDEvHkM4MbxfWs_UlAm5JoQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "idevent": "={{ $('Google Calendar').item.json[\"id\"] }}",
            "calendario": "={{ $('Webhook').item.json[\"body\"][\"calendario\"] }}",
            "profesional": "={{ $('Webhook').item.json[\"body\"][\"profesional\"] }}",
            "servicio": "={{ $('Webhook').item.json[\"body\"][\"servicio\"] }}",
            "phone": "={{ $('Webhook').item.json[\"body\"][\"phone\"] }}",
            "end": "={{ $('Webhook').item.json[\"body\"][\"endDate\"] }}",
            "start": "={{ $('Webhook').item.json[\"body\"][\"startDate\"] }}",
            "nombre": "={{ $('Webhook').item.json[\"body\"][\"name\"] }}",
            "email": "={{ $('Webhook').item.json[\"body\"][\"email\"] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "start",
              "displayName": "start",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "end",
              "displayName": "end",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "servicio",
              "displayName": "servicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "profesional",
              "displayName": "profesional",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "idevent",
              "displayName": "idevent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "calendario",
              "displayName": "calendario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "6e48f941-6fcc-4f93-8a97-759bae66a815",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        -80,
        -160
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sVTysHUmvid88adA",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Google Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3fe5cb16-67eb-4860-88f1-e2817e985aa1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ead19e1a6cc5e0d6bde0bef1bc450606d38ab2a496ca615217fa50ce4b2807a5"
  },
  "id": "aPFhgqjgNB40ZMsV",
  "tags": [
    {
      "createdAt": "2024-05-03T18:41:38.709Z",
      "updatedAt": "2024-05-03T18:41:38.709Z",
      "id": "sgPfkrs2qYDVGkmy",
      "name": "Peluquerias V3-POST"
    }
  ]
}